@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,800);
@import url(http://allfont.ru/allfont.css?fonts=pt-sans);
@import url(http://allfont.ru/allfont.css?fonts=Calibri-thin);


body {
	padding: 0px;
	margin: 0px;
	font-family: Calibri;
	background: url(../img/elements.png) no-repeat center top;
	background-color: #0a0a10;
}
h1,h2,h3,h4,h5,h6,p {
	padding: 0;
	margin: 0;
}

div, p, button, span, a {
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

.header {
	width: 1433px;
	margin: 0 auto;
	font-family: Calibri;
	
}
.logo{
	width: 1433px;
	margin-top: 1px;
	font-family: Calibri;
	background: url(../img/start.png) no-repeat center top /cover;
	}

.how-to-start {
	width: 1142px;
	margin: 0 auto;
	justify-content: space-between;
}
.flexx {
	display: flex;
	margin-top: 158px;
	margin-bottom: 158px;

}
a {
	text-decoration: none;
	color: #FFF;
}


.menu {
	display: flex;
	padding-left: 80px;
	padding-top: 80px;
}


.menu a {
	font-size: 21px;
	color: #ffffff;
	font-family: Calibri;
	font-weight: 200;
	margin-left: 34px;
	
}

.menu a:hover {
	border-bottom: 2px solid #ac2cd0;
}

.none {
	font-family: Light;
}

.stone{
	margin-left: 70px;
	margin-top: 30px;
    width: 777px;	
}

h1 {
	font-size: 16px;
	color: #fff;
	margin-left: 50px;
	margin-top: 5px;
	font-weight: normal;
	font-family: Arial;
    width: 600px;
}

.soc {
	margin-left: 100px;
}

.title__text {
    margin-left: 50px;
    color: #fff;
    font-size: 16px;
    margin-top: 38px;
    font-family: Arial;
}

.connect {
	margin-left: 280px;
	padding-top: 45px;
	padding-bottom: 205px;
}
.connect a {
	text-decoration: none;
    font-family: Calibri;
    font-size: 20px;
    color: #fff;
    border: 0px solid #aa25ca;
    border-radius: 100px;
    background: #af30cf;
    padding: 9px 49px 13px 45px;
	box-shadow: 0 0 15px rgba(167, 12, 137);
}
.connect a:hover {
	box-shadow: 0 0 25px rgba(115, 7, 94);
}

h2 {
    font-size: 48px;
	font-family: Calibri;
    color: #fff;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.52);
	margin-left: 50px;
    padding-top: 56px;
	}
h3 {
    font-size: 38px;
	font-family: Calibri;
    color: #fff;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.52);
    margin-left: 182px;
    margin-top: -32px;
	}
.leftstr, .rightstr {
	color: #ffffff;
    margin-top: 96px;
    float: left;
    width: 46%;
    margin-left: 50px;
   }
.centerstr{
	color: #ffffff;
    margin-top: 61px;
    float: left;
    width: 47%;
    margin-left: 332px;
}
.rightstr {
    text-align: left;
    width: 262px;
    margin-top: -187px;
    margin-left: 545px;
   }
.item-block {
	background: #1a1a1d;
	width: 332px;
	height: 332px;
	border-radius: 10px;
	padding-top: 31px;
	margin-right: 77px; 
}

.item-block p {
	color: #fff;
	font-size: 18px;
	font-family: Calibri;
	font-weight: bold;
	width: 250px;
	margin-left: 31px;/*картинка*/
	margin-top: 31px;/*Текст*/
	text-align: center;
}

.image-icon {
	margin-top: 31px;/*картинка*/
	margin-left: 105px;/*картинка*/
	width: 102px;
	height: 102px;
	background: url(../img/icondownload.png) no-repeat center top;
}

.image-icon2 {
	margin-top: 31px;/*картинка*/
	margin-left: 105px;/*картинка*/
	width: 102px;
	height: 102px;
	background: url(../img/iconadd.png) no-repeat center top;
}
.btm__item {
	margin-top: 30px;
	margin-left: 59px;
}
.btm__item a {
	text-transform: uppercase;
	text-decoration: none;
	font-family: Calibri;
	font-size: 19px;
	color: #fff;
	border: 0px solid #ac2cd0;
	border-radius: 20px;
	background: #ac2cd0;
	padding: 13px 61px 13px 61px;
	box-shadow: 0 0 25px rgba(222,147,39,1.0);
}
.btm__item a:hover {
	box-shadow: 0 0 15px rgba(222,147,39,1.0);
}

.title__p{
	width: 1034px;
	text-align: center;
	color: #fff;
	padding-top: 95px;
	padding-bottom: 455px;
}
.copy__p {
	text-align: center;
	color: #fff;
	width: 320px;
	margin-left: 370px;
	margin-bottom: 30px;
}

 @font-face {
    font-family: Calibri;
    src: url(fonts/Calibri.ttf); 
 }
